<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/cv.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/styles/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/media/logo.png" type="image/x-icon">
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Roboto", sans-serif
        }
    </style>
    <title>CV of me</title>
</head>

<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">
                <!-- button menu -->
                <div class="w3-container w3-card w3-white w3-margin-bottom" style="border-radius: 5px;">
                    <div class="p-4">
                        <a class="backbut mt-3" href="/templates/index.html">Back</a>
                    </div>
                </div>
                <!-- prof. and skills -->
                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="/media/profile_pic_color.png" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                            <h2 style="color: white; font-weight: bolder; text-shadow: 0 0 2px white;">Amir Salimi</h2>
                        </div>
                    </div>
                    <div class="w3-container pt-3">
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Developer</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Bonn, DE</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>amir.salimi@gmx.net
                        </p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+17659386166</p>
                        <hr>

                        <p class="w3-large"><b><i
                                    class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
                        <p>HTML & CSS</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
                        </div>
                        <p>Python</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">
                                <div class="w3-center w3-text-white">70%</div>
                            </div>
                        </div>
                        <p>JavaScript</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
                        </div>
                        <p>Network</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
                        </div>
                        <br>

                        <p class="w3-large"><b><i
                                    class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                        <p>German</p>
                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:75%"></div>
                        </div>
                        <p>English</p>
                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:50%"></div>
                        </div>
                        <p>Persian</p>
                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                        </div>
                        <br>
                    </div>
                </div><br>
                <!-- Second teil in left -->
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16">
                        <i class="fa fa-cubes fa-fw w3-margin-right w3-xxlarge w3-text-teal">
                        </i>Knowledge & Plan
                    </h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity">
                            <b>I am good at:</b>
                        </h5>
                        <li>My SQL</li>
                        <li>bootstrap</li>
                        <li>Jira</li>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity">
                            <b>I am familiar with:</b>
                        </h5>
                        <li>Django</li>
                        <li>Java</li>
                        <li>C++</li>
                        <li>Agile</li>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity">
                            <b>I have plan to learn:</b>
                        </h5>
                        <li>Angular</li>
                        <li>React</li>
                        <li>Docker</li>
                        <li>Rest API</li>
                        <hr>
                    </div>
                </div>
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16">
                        <i class="fa fa-heart fa-fw w3-margin-right w3-xxlarge w3-text-teal">
                        </i>Hobbies
                    </h2>
                    <div class="w3-container">
                        <p title="Someone who take the best photos from his friends!">Photography</p>
                        <p title="Someone who have been to countries that don't need visa!">Traveling</p>
                        <p title="Someone who was the best at school!">Carpentry</p>
                        <p title="Why are you here? :)">Tech</p>
                        <p title="-Do you like to... +Let's go!">Anything new!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- End Left Column -->
            <!-- Right Column -->
            <div class="w3-twothird">

                <!-- work experience -->
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience
                    </h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Code analyzer & IT-administrator / <a
                                    href="https://www.hypeinnovation.com/en/" target="_blank">Hype innovation, Bonn
                                    (DE)</a></b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2021 - <span
                                class="w3-tag w3-teal w3-round">Current</span></h6>
                        <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est
                            reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure,
                            iste.</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>IT-Support / Caspian company, Esfahan (IR)</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2017 - Mai 2019
                        </h6>
                        <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est
                            reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure,
                            iste.</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Marketing / Hesam store, Esfahan (IR)</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012
                        </h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
                    </div>
                </div>
                <!-- education -->
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16">
                        <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal">
                        </i>Education
                    </h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b><a href="https://ui.ac.ir/en" target="_blank">Esfahan
                                    University, Esfahan (IR)</a></b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014 - 2016</h6>
                        <p>As the second university to pass additional courses</p>
                        <p>Field: Software management</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b><a href="https://bkatu.ac.ir/en-US/DouranPortal/1/page/Home"
                                    target="_blank">Khatam University of Technology, Behbahan (IR)</a></b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2011 - 2014</h6>
                        <p>Bachelor Degree</p>
                        <p>Field: Software</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b><a href="https://sadatsch.ir/" target="_blank">Sadat
                                    Highschool, Esfahan (IR)</a></b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2007 - 2011</h6>
                        <p>Highschool Diploma</p>
                        <p>Field: Mathematic</p>
                        <p>Final grade: 2.0</p>
                        <br>
                    </div>
                </div>
                <!-- intership -->
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16">
                        <i class="fa fa-archive fa-fw w3-margin-right w3-xxlarge w3-text-teal">
                        </i>Internship & Academic Job
                    </h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity">
                            <b><a href="https://en.nioc.ir/portal/home/" target="_blank">National Iranian Oil & Gas
                                    Company,
                                    Gachsaran (IR)</a></b>
                        </h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun. 2013 - Sep.
                            2013
                        </h6>
                        <p>XXX</p>
                        <p>XXX</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity">
                            <b>Organization of tutorials at the university,<br>Behbahan (IR)</b>
                        </h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep. 2012 - Jun.
                            2014
                        </h6>
                        <p>Team leader</p>
                        <p>XXX</p>
                        <hr>
                    </div>
                </div>
                <!-- certificate -->
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16">
                        <i class="fa fa-check fa-fw w3-margin-right w3-xxlarge w3-text-teal">
                        </i>Certificates
                    </h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity">
                            <b><a href="https://www.telc.net/" target="_blank">German as foreign language (TELC)</a></b>
                        </h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar. 2021
                        </h6>
                        <p>Level: B2</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity">
                            <b>'Harekat' scientific and academic exhibition</b>
                        </h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2014 & May 2013
                        </h6>
                        <p>XXX</p>
                        <hr>
                    </div>
                </div>
                <!-- End Right Column -->
            </div>
            <!-- End Grid -->
        </div>
        <!-- End Page Container -->
    </div>
    <button id="scroll" class="fa fa-arrow-circle-up fa-fw w3-margin-right w3-xxlarge w3-text-teal scroll"></button>
    <!-- JS links -->
    <script src="/response/index.js"></script>
    <script src="/response/cv.js"></script>
</body>

</html>