<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/styles/style.css" rel="stylesheet">
    <title>Amir Salimi</title>
</head>

<body class="container-fluid normalTheme">
    <!-- Base of website -->
    <div>
        <!-- Header -->
        <div id="header" class="row sticky-top sticky-top-bg shadow">
            <!-- left tab -->
            <div class="col-sm row py-3">
                <div class="col-sm"></div>
                <div class="col-9">
                    <p style="font-family: theCircous; font-size: x-large;"> Amir Salimi</p>
                </div>
            </div>
            <!-- space tab -->
            <div class="col-6"></div>
            <!-- right links -->
            <div class="col-sm py-3">
                <a class="cvbut" href="resume.html">Resume</a>
            </div>
        </div>
        <!-- Body -->
        <div class="pb-5 row">
            <!-- left part for photo -->
            <div class="col-sm row">
                <div class="col-sm"></div>
                <img src="/media/profile_pic.png" class="img col-sm" alt="Responsive image">
            </div>
            <!-- right part for bio -->
            <div class="col-sm">
                <div class="row">
                    <div class="text">
                        <div>
                            <h1 id="welTime">Hello!</h1>
                        </div>
                        <div>
                            <h4>My name is Amir. I like to write code and learn new technologies. My friends call
                                me a
                                Geek.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="row footer pt-3">
            <hr>
            <div class="col-sm row">
                <div class="col-sm"></div>
                <div class="col-9">
                    Phone:<br><a class="contact" href="Tel:+4917659386166">Call me!</a></div>
            </div>
            <div class="col-sm">Email:<br><a class="contact" href="mailto:amir.salimi@gmx.net">Send now!</a></div>
            <div class="col-sm">Follow me on:<br>
                <div class="horizant">
                    <li>
                        <a href="https://www.linkedin.com/in/amirsalimi7/" target="_blank" rel="noopener noreferrer">
                            <img id="linkedin" class="linkedin" src="/media/linkedin.png" alt=""></a>
                    </li>
                    <li>
                        <a href="https://github.com/amirsalimi92" target="_blank" rel="noopener noreferrer">
                            <img id="github" class="github" src="/media/github.jpg" alt=""></a>
                    </li>
                </div>
            </div>
            <div class="col-sm">Code and design by: <span id="design" class="design"> who do you think?</span><br>©
                2022
                Amir
                Salimi.
            </div>
        </div>
    </div>


    <!-- theme button -->
    <button id="theme" class="theme" title="Dev_mode!"></button>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="/response/index.js"></script>
</body>

</html>